<div id="content-wrap">

	<div id="slides">
		<ul class="bxslider">
			<li><img src="<%= asset_path('ctu/slide_home.jpg')%>"/></li>
			<li><img src="<%= asset_path('ctu/slide_rtbl.jpg')%>" /></li>
			<li><img src="<%= asset_path('ctu/slide_cartoon.jpg')%>" /></li>
			<li><img src="<%= asset_path('ctu/slide_radio_video.jpg')%>" /></li>
			<li><img src="<%= asset_path('ctu/slide_content.jpg')%>" /></li>
		</ul>
	</div>

	<h1 id="title">Chalk Them Up | National Sports Coverage</h1>

	<div class="left-text">
		<p>
			After joining the Alpha Beta chapter of the Theta Xi fraternity at UIUC, I teamed up with Ethan Asofsky, Matt Misichko, Jared Borlack, and Gregg Pluta to found Chalk Them Up.
		</p>
		<p>
			We gained lots of traction fast and landed a radio show on the college radio station WPGU on sundays at 11. We also accumulated a total of 47 authors from over 7 different colleges accross the country to provide content for our site. 
		</p>
		<p>
			After a few months, Jared Borlack started his section called "Road to the Big Leagues," which served as a first "agent" where college athletes could get in touch with their fans and record their journey to professional circles.
		</p>
		<p>
			My role was everything Tech related, where the others took care of marketing, and getting our interview guests and local deals aligned.
		</p>
		<p>
			For the challenge, and experience, I chose to build the CMS for Chalk Them Up entirely from scratch using the <a href="http://ellislab.com/codeigniter" target="_blank">CodeIgniter PHP framework.</a>
		</p>
	</div>

	<div class="right-text">
		<p>
			We were college kids trying to start a sports site, but we really gave it all. Within 2 months, we had a radio show, hosting GE of the Packers after winning SuperBowl XLV, and Director of Sports Betting at the MGM Garand Casino in Las Vegas before the SuperBowl, and many, many more..
		</p>
		<p>
			Unfortunately, I am only able to run it locally at this time, please excuse me for a domain miss-management causing the site to be down for the foreseeable future. 
		</p>
		<p class="ccc">My Part: </p>
		<ul class="my-part">
			<li>Developer & Designer</li>
			<li>Tech Help for Radio Shows</li>
			<li>Video Editor for YouTube channel</li>
		</ul>
		
		<p class="ccc" style="float: left; clear: left;">CMS Details: </p>
		<ul class="my-part">
			<li>Users with <i>editorial</i> hierarchy. [Chief Editor .. Author]</li>
			<li>Posting to different categories.</li>
			<li>Auto-posting to Facebook and Twitter campaigns.</li>
			<li>Provide special access to certain users. (Artists for Cartoon of the Week)</li>
		</ul>

	</div>
	
</div>