<ul class="content-list" id="portfolio">
	<li class="content-entry">
		<h3 class="content-entry-header">Steinweg Design</h3>
		<p class="content-entry-meta">// FREELANCE</p>

		<a href="<%= steinweg_path %>" class="row-first">
			<img src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
		</a>
	</li>
	<li class="content-entry">
		<h3 class="content-entry-header">Steinweg Design</h3>
		<p class="content-entry-meta">// FREELANCE</p>

		<a href="<%= steinweg_path %>" class="row-first">
			<img src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
		</a>
	</li>
	<li class="content-entry">
		<h3 class="content-entry-header">Steinweg Design</h3>
		<p class="content-entry-meta">// FREELANCE</p>

		<a href="<%= steinweg_path %>" class="row-first">
			<img src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
		</a>
	</li>
</ul>
