<div class="page-wrap portfolio">
	<h2 class="portfolio-header">Portfolio</h2>
	<span class="portfolio-separator"></span>

	<ul class="content-list">
		<li class="content-entry">
			<a href="<%= steinweg_path %>" class="row-first">
				<img src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
			</a>
		</li>
		<li class="content-entry">
			<a href="<%= steinweg_path %>" class="row-first">
				<img src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
			</a>
		</li>
		<li class="content-entry">
			<a href="<%= steinweg_path %>" class="row-first">
				<img src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
			</a>
		</li>
		<li class="content-entry">
			<a href="<%= steinweg_path %>" class="row-first">
				<img src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
			</a>
		</li>
	</ul>
</div>
