<div id="page-content">
	<img src="<%= asset_path('home_slide.png')%>" id="home-slide"/>
</div>

<ul id="portfolio">
	<li>
		<a href="<%= steinweg_path %>" class="row-first">
			<img src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
		</a>
		<a href="<%= chalkthemup_path %>" >
			<img src="<%= asset_path('ctu/ctu_thumb.jpg')%>"/>
		</a>
		<a href="<%= ete_path %>">
			<img src="<%= asset_path('8to18/ete_thumb.png')%>"/>
		</a>
		<a href="<%= trinity_path %>">
			<img src="<%= asset_path('trinity/trinity_thumb.jpg')%>"/>
		</a>
	</li>
	<li>
		<a href="<%= bacc_path %>" class="row-first">
			<img src="<%= asset_path('bacc/bacc_thumb.png')%>"/>
		</a>
		<a href="<%= aquamu_path %>">
			<img src="<%= asset_path('aquamu/aquamu_thumb.png')%>"/>
		</a>
	</li>
</ul>