<div id="page-content">
	<img src="<%= asset_path('home_slide.png')%>" id="home-slide"/>
</div>


<ul id="portfolio">
	<li>
		<a href="<%= chalkthemup_path %>" class="row-first">
			<img src="<%= asset_path('ctu/ctu_thumb.jpg')%>"/>
		</a>
		<a href="<%= ete_path %>">
			<img src="<%= asset_path('ete_thumb.png')%>"/>
		</a>
		<a href="<%= trinity_path %>">
			<img src="<%= asset_path('trinity/trinity_thumb.jpg')%>"/>
		</a>
		<a href="<%= aquamu_path %>">
			<img src="<%= asset_path('aquamu_thumb.png')%>"/>
		</a>
	</li>
	<li>
		<a href="<%= bacc_path %>" class="row-first">
			<img src="<%= asset_path('bacc_thumb.png')%>"/>
		</a>
	</li>
</ul>