<div class="portfolio">
    <div class="header js-header">
        <div class="header-center">
            <a class="logo" href="<%= root_url %>">
                <img class="logo-image" src="<%= asset_path('logo.png') %>"/>
            </a>

            <%= render 'layouts/nav' %>

            <h1 class="header-title">Some things I've worked on ...</h1>
        </div>
        <a class="header-slider-link js-slide-section">
            <span class="slider-link-text">Portfolio</span>
            <i class="icon-expand_more"></i>
        </a>
    </div>

    <div class="page-wrap" id="page">
        <div class="portfolio-entry third" id="portfolio-design">
            <img src="<%= asset_path('paint_brush.png') %>" class="icon-tile-image"/>
            <h2 class="portfolio-tile-header">Design</h2>
            <div class="portfolio-entry-overlay js-open-gallery design">
                <a class="button outline">View Gallery</a>
            </div>
        </div>
        <div class="portfolio-entry third middle" id="portfolio-projects">
            <img src="<%= asset_path('bulb.png') %>" class="icon-tile-image"/>
            <h2 class="portfolio-tile-header">Projects & Ideas</h2>
            <div class="portfolio-entry-overlay js-open-gallery projects">
                <a class="button outline">View Gallery</a>
            </div>
        </div>
        <div class="portfolio-entry third" id="portfolio-wordpress">
            <img src="<%= asset_path('wp.png') %>" class="icon-tile-image"/>
            <h2 class="portfolio-tile-header">Wordpress</h2>
            <div class="portfolio-entry-overlay js-open-gallery wordpress">
                <a class="button outline">View Gallery</a>
            </div>
        </div>
        <h2 class="portfolio-section-header">On the job ...</h2>
        <div class="portfolio-entry full" id="portfolio-pi">
            <div class="portfolio-entry-overlay js-open-gallery pi">
                <ul class="overlay-tools"><img class="tool-logo" src="<%= asset_path('pi/pi_logo.png') %>"/></ul>
                <a class="button outline">View Gallery</a>
            </div>
        </div>
    </div>
</div>

<div class="gallery-overlay js-gallery-overlay design" id="design-gallery">
    <div class="gallery">
        <div class="gallery-header">
            <h2 class="gallery-name">Design</h2>
            <nav class="gallery-nav">
                <!-- <a href="#" class="button outline"><i class="icon-expand_more"></i></a>
                <a href="#" class="button outline"><i class="icon-expand_less"></i></a> -->
                <a href="#" class="button outline js-close-gallery"><i class="icon-clear"></i> Close</a>
            </nav>
        </div>
        <ul class="gallery-content">
            <li class="gallery-item">
                <p class="item-description">Did some work with Tempus when they got started.</p>
                <img src="<%= asset_path('design/tempus_prev.jpg') %>"/>
                <!-- <ul class="item-tools">
                    <li class="tool-icon"><img src="<%= asset_path('tools/photoshop.png') %>"/></li>
                </ul> -->
            </li>
        </ul>
    </div>
</div>

<div class="gallery-overlay js-gallery-overlay projects" id="projects-gallery">
    <div class="gallery">
        <div class="gallery-header">
            <h2 class="gallery-name">Projects & Ideas</h2>
            <nav class="gallery-nav">
                <a href="#" class="button outline js-close-gallery"><i class="icon-clear"></i> Close</a>
            </nav>
        </div>
        <ul class="gallery-content">
            <li class="gallery-item">
                <p class="item-description">Did some work with Tempus when they got started.</p>
                <img src="<%= asset_path('design/tempus_prev.jpg') %>"/>
            </li>
        </ul>
    </div>
</div>

<div class="gallery-overlay js-gallery-overlay wordpress" id="wordpress-gallery">
    <div class="gallery">
        <div class="gallery-header">
            <h2 class="gallery-name">Wordpress</h2>
            <nav class="gallery-nav">
                <a href="#" class="button outline js-close-gallery"><i class="icon-clear"></i> Close</a>
            </nav>
        </div>
        <ul class="gallery-content">
            <li class="gallery-item">
                <p class="item-description">Did some work with Tempus when they got started.</p>
                <img src="<%= asset_path('design/tempus_prev.jpg') %>"/>
            </li>
        </ul>
    </div>
</div>

<div class="gallery-overlay js-gallery-overlay pi" id="pi-gallery">
    <div class="gallery">
        <div class="gallery-header">
            <h2 class="gallery-name">Pi & CF</h2>
            <nav class="gallery-nav">
                <a href="#" class="button outline js-close-gallery"><i class="icon-clear"></i> Close</a>
            </nav>
        </div>
        <ul class="gallery-content">
            <li class="gallery-item">
                <p class="item-description">Did some work with Tempus when they got started.</p>
                <img src="<%= asset_path('design/tempus_prev.jpg') %>"/>
            </li>
        </ul>
    </div>
</div>
