<div class="portfolio">
    <div class="header">
        <div class="header-center">
            <a class="logo" href="<%= root_url %>">
                <img class="logo-image" src="<%= asset_path('logo.png') %>"/>
            </a>

            <%= render 'layouts/nav' %>

            <h1 class="header-title">Some things I've worked on ...</h1>
        </div>
    </div>

    <div class="page-wrap">
        <h2 class="portfolio-section-header">// Work Experience</h2>
        <div class="portfolio-entry full" id="portfolio-pi">
            <div class="portfolio-entry-overlay">
                <ul class="overlay-tools"><img class="tool-logo" src="<%= asset_path('entries/pi_logo.png') %>"/></ul>
                <a href="#" class="button outline">View Gallery</a>
            </div>
        </div>
        <h2 class="portfolio-section-header">// Projects & Freelance Work</h2>
        <div class="portfolio-entry third" id="portfolio-design">
            <h2 class="portfolio-tile-header">Design</h2>
            <img src="<%= asset_path('entries/paint_brush.png') %>" class="icon-tile-image"/>
            <div class="portfolio-entry-overlay">
                <a href="#" class="button outline">View Gallery</a>
            </div>
        </div>
        <div class="portfolio-entry third" id="portfolio-projects">
            <h2 class="portfolio-tile-header">Ideas/Projects</h2>
            <img src="<%= asset_path('entries/bulb.png') %>" class="icon-tile-image"/>
            <div class="portfolio-entry-overlay">
                <a href="#" class="button outline">View Gallery</a>
            </div>
        </div>
        <div class="portfolio-entry third" id="portfolio-wordpress">
            <h2 class="portfolio-tile-header">Wordpress</h2>
            <img src="<%= asset_path('entries/wp.png') %>" class="icon-tile-image"/>
            <div class="portfolio-entry-overlay">
                <a href="#" class="button outline">View Gallery</a>
            </div>
        </div>
    </div>
</div>
