<!DOCTYPE html>
<html id="admin-html">
    <head>
        <script src="https://use.typekit.net/xxd1zkq.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <title>Alex Stomp | Designer</title>
        <link rel="icon" href="<%= asset_path('favicon.png') %>"></link>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body class="js-body">
        <% if user_signed_in? %>
            <% if notice %>
              <p class="alert alert-success js-alert"><%= notice %><i class="icon-clear js-close"></i></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger js-alert"><%= alert %><i class="icon-clear js-close"></i></p>
            <% end %>
        <% end %>

        <div class="admin content js-content">
            <div class="header">
                <div class="header-center">
                    <a class="logo" href="<%= admin_root_url %>">
                        <img class="logo-image" src="<%= asset_path('dark_logo.png') %>"/>
                    </a>

                    <%= render 'layouts/admin_nav' %>
                </div>
            </div>
            <div class="content-wrap">
                <%= yield %>
            </div>
        </div>

        <%= render 'layouts/analytics' %>
    </body>
</html>
