<!DOCTYPE html>
<html id="home-html">
    <head>
        <title>Alex Stomp | Designer</title>
        <link rel="icon" href="<%= asset_path('favicon.png') %>"></link>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body class="js-body">
        <nav class="side-nav"></nav>

    	<nav class="main-nav">
    		<a href="#" class="main-nav-link">About</a>
    		<a href="#" class="main-nav-link active">Portfolio</a>
    		<a href="#" class="main-nav-link">Blog</a>
            <div class="main-nav-underline"><span class="line-block"></span></div>
    	</nav>

        <div class="content js-content">
            <%= yield %>
        </div>

        <%= render 'layouts/analytics' %>
    </body>
</html>
