<!DOCTYPE html>
<html id="home-html">
<head>
  <title>Alex Stomp | Designer</title>
  <link rel="icon" href="<%= asset_path('favicon.png') %>"></link>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'jquery.bxslider' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.bxslider.min'%>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-content">
            <h1 class="sidebar-header">Alex Stomp</h1>
            <h3 class="sidebar-subheader">Designer / Web Developer</h3>

            <a class="sidebar-ref-icon" href="http://www.linkedin.com/in/alexstomp" target="_blank">
                <i class="icon-linkedin"></i>
            </a>
            <a class="sidebar-ref-icon" href="https://github.com/alexstomp" target="_blank">
                <i class="icon-github"></i>
            </a>
            <a class="sidebar-ref-icon" href="https://angel.co/alexstomp" target="_blank">
                <i class="icon-angellist"></i>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">Portfolio</li>
                <!-- <li class="sidebar-nav-link">Blog</li> -->
                <li class="sidebar-nav-link">Resume</li>
            </ul>
        </div>
    </div>

    <div class="content js-content">
        <%= yield %>
    </div>

	<%= render 'layouts/analytics' %>
</body>
</html>
