<!DOCTYPE html>
<html id="home-html">
<head>
  <title>Alex Stomp | Web Developer</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'jquery.bxslider' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.bxslider.min'%>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="nav-wrapper">
		<a href="https://www.linkedin.com/in/alexstomp/" id="linked-in-icon" class="maven">
			Linkedin
		</a>
		<a href="https://github.com/alexstomp" id="github-icon" class="maven">
			GitHub
		</a>
		<a href="<%= root_path %>" id="logo">
			<img src="<%= asset_path('logo.png')%>"/>
		</a>
		<div id="right-nav">
			<a href="mailto:stompy1208@gmail.com" class="maven">Contact</a>
			<a class="maven">Resume</a>
			<!-- 
			<a href="<%= blog_path %>" class="maven">Blog</a>
			-->
		</div>
	</div>
	
	<%= yield %>

</body>
</html>