<!DOCTYPE html>
<html id="home-html">
    <head>
        <script src="https://use.typekit.net/xxd1zkq.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <title>Alex Stomp | Designer</title>
        <link rel="icon" href="<%= asset_path('favicon.png') %>"></link>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body class="js-body">
        <div class="content js-content">
            <%= yield %>
        </div>

        <%= render 'layouts/analytics' %>
    </body>
</html>
