<!DOCTYPE html>
<html id="home-html">
<head>
  <title>Alex Stomp | Web Developer</title>
  <link rel="icon" href="<%= asset_path('favicon.png') %>"></link>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'jquery.bxslider' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.bxslider.min'%>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="no-scroll-container">
        <div class="sidebar">
            <h1 class="sidebar-header">Alex Stomp</h1>
            <h3 class="sidebar-subheader">Designer</h3>

            <a class="sidebar-ref-icon" href="#github"></a>
            <a class="sidebar-ref-icon" href="#angel"></a>
            <a class="sidebar-ref-icon" href="#linkedin"></a>
            <a class="sidebar-ref-icon" href="#99designs"></a>

            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">Portfolio</li>
                <li class="sidebar-nav-link">Blog</li>
                <li class="sidebar-nav-link">Resume</li>
            </ul>
        </div>

        <div class="content js-content">
            <%= yield %>
        </div>
    </div>
	<%= render 'layouts/analytics' %>
</body>
</html>
