<!DOCTYPE html>
<html id="home-html">
    <head>
        <title>Alex Stomp | Designer</title>
        <link rel="icon" href="<%= asset_path('favicon.png') %>"></link>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body class="js-body">
        <div class="header">
            <div class="header-center">
                <a href="<%= root_url() %>" class="name">
                    Alex
                    <i class="icon-vampa"></i>
                    Stomp
                </a>

            	<nav class="nav js-nav">
                    <a href="<%= root_url() %>" class="nav-link <%= current_page?(root_url()) ? 'active' : '' %>">About</a>
            		<a href="<%= portfolio_url() %>" class="nav-link <%= current_page?(portfolio_url()) ? 'active' : '' %>">Portfolio</a>
            		<a href="#" class="nav-link">Blog</a>
            	</nav>
            </div>
        </div>

        <div class="content js-content">
            <%= yield %>
        </div>

        <%= render 'layouts/analytics' %>
    </body>
</html>
